* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #f4f4f4;
}

/* utilities */
:root {
  --primary-color: #2999bc;
  --secondary-color: #faca70;
  --lighter-primary-color: #1bb2e0;
  --darker-primary-color: #29a1c6;
  --dark-color: #333;
  --light-grey: #ddd;
  --light-color: #fff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 1rem;
}

.btn {
  padding: 0.8rem 3rem;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px;
  font-size: 1.2rem;
  white-space: nowrap;
  outline: none;
  border: none;
  transition: background 0.3s;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background: var(--darker-primary-color);
}

.btn-secondary {
  border: solid 1px var(--secondary-color);
  color: #333;
  background: rgba(0, 0, 0, 0);
}

.btn-secondary:hover {
  background: var(--secondary-color);
}

.btn-dark {
  color: var(--light-color);
  background: var(--dark-color);
}

.btn-dark:hover {
  background: #444;
}

.btn-block {
  width: 100%;
}

.card {
  width: 18rem;
  height: 15rem;
  padding: 1.5rem;
  background: var(--light-grey);
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.22);
  transition: transform 0.3s;
  display: inline-block;
  margin: 2rem auto;
}

.card-content {
  background: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-title {
  color: var(--primary-color);
  margin-bottom: 0.2rem;
  background: inherit;
  font-size: 1.3rem;
}

.card-line {
  width: 30%;
  height: 3px;
  background: var(--primary-color);
  margin-bottom: 0.75rem;
  transition: width 0.4s;
}

.card-text {
  background: inherit;
  color: var(--dark-color);
  line-height: 1.3;
  font-size: 0.9rem;
  margin-bottom: 0.75rem;
}

.card-link {
  background: inherit;
  color: var(--primary-color);
  font-size: 0.9rem;
  text-decoration: underline;
}

.card-link:hover {
  color: var(--darker-primary-color);
}

.card:hover {
  transform: scale(1.05);
}

.card:hover > .card-content > .card-line {
  width: 55%;
}

/* navigation bar */
nav {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 2;
  padding-top: 1rem;
}

#logo {
  display: flex;
  align-items: center;
}

#logo-img-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
}

#logo-img {
  width: 100%;
}

#logo-text {
  padding-left: 1rem;
  letter-spacing: 1px;
  color: var(--primary-color);
  font-size: 1.1rem;
  white-space: nowrap !important;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
}

.nav-link {
  padding: 0rem 1.5rem;
}

.nav-link > a {
  color: var(--dark-color);
  font-size: 1.2rem;
  white-space: nowrap !important;
}

.nav-link > a:visited {
  color: var(--dark-color);
}

.nav-link > a:hover {
  color: var(--secondary-color);
}

/* showcase */
#showcase {
  position: relative;
  height: 100vh;
  width: 80%;
  display: flex;
  align-items: center;
  z-index: 0;
}

.showcase-content {
  padding: 1rem;
  background: rgba(0, 0, 0, 0);
  width: 40%;
  display: flex;
  flex-direction: column;
}

.showcase-content > img {
  background: rgba(0, 0, 0, 0);
  width: 33rem;
}

.showcase-content > h1 {
  line-height: 1.7;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 3rem;
  padding-top: 1rem;
  background: rgba(0, 0, 0, 0);
  color: var(--dark-color);
  white-space: nowrap;
}

.showcase-backdrop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 0;
  width: 60rem;
  height: 100vh;
  z-index: -1;
}

.showcase-backdrop > svg {
  width: 100%;
  height: auto;
}

.fa-angle-down {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-5%, -50%);
  color: var(--dark-color);
  animation: showcase-arrow 1.5s infinite alternate ease-in-out;
}

#showcase-buttons {
  white-space: nowrap;
  background: rgba(0, 0, 0, 0);
}

#showcase-buttons > a {
  margin-right: 2rem;
}

/* about */

#despre-noi {
  margin-top: 3rem;
}

#despre-noi-content {
  padding-top: 4rem;
}

#about-heading {
  width: 100%;
  text-align: center;
  color: var(--dark-color);
  font-size: 2rem;
}

.about-section {
  display: flex;
  position: relative;
  padding: 4rem;
  background: rgba(0, 0, 0, 0);
  z-index: 0;
}

.about-section-2 {
  transform: translateY(-100%);
}

.about-section-3 {
  margin-top: 16rem;
}

.about-section-4 {
  margin-top: -9rem;
}

.about-photo-1 {
  width: 40rem;
  height: 40rem;
}

.about-photo-2 {
  width: 25rem;
  height: 30rem;
  position: absolute;
  right: 7%;
  top: -6%;
}

.about-photo-3 {
  width: 40rem;
  height: 40rem;
}

.about-photo-4 {
  width: 25rem;
  height: 30rem;
  position: absolute;
  right: 7%;
  top: -6%;
}

.about-text-left {
  width: 30%;
  position: absolute;
  top: 30%;
  right: 9%;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 5px;
}

.about-text-right {
  text-align: center;
  width: 23%;
  position: absolute;
  top: 70%;
  left: 35%;
  font-size: 1.3rem;
  line-height: 1.6;
  letter-spacing: 1px;
  box-shadow: rgba(0, 0, 0, 0.2) 4px 4px 5px;
}

#about-text-1 {
  width: 45%;
  right: 5%;
  transform: translateY(-15%);
  background: var(--primary-color);
  padding: 2rem 3rem;
  border-radius: 5px;
  color: var(--light-color);
  z-index: 1;
  transition: transform 0.7s;
}

#about-text-1:hover {
  transform: translateY(-20%);
}

#about-text-2 {
  width: 50%;
  left: 15%;
  background: var(--secondary-color);
  padding: 2rem 3rem;
  border-radius: 5px;
  color: var(--dark-color);
  z-index: 1;
}

#about-text-3 {
  background: var(--primary-color);
  border-radius: 5px;
  padding: 2rem 3rem;
  width: 45%;
  right: 10%;
  transform: translateX(10%);
  color: var(--light-color);
}

#about-text-4 {
  width: 55%;
  left: 10%;
  background: var(--secondary-color);
  border-radius: 5px;
  padding: 2rem 3rem;
  z-index: 1;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--dark-color);
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
}

#footer-top {
  background: inherit;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  background: inherit;
  width: 100%;
  padding: 1rem;
}

#footer-nav {
  background: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-links {
  background: inherit;
}

.footer-link {
  background: inherit;
  margin-bottom: 0.4rem;
}

.footer-link > a {
  background: inherit;
  color: var(--light-color);
  font-weight: 100;
  text-decoration: underline;
}

.footer-link > a:hover {
  color: #bbb;
}

#subscribe-form {
  background: inherit;
  padding: 1rem;
}

#subscribe-form > h3 {
  color: var(--light-color);
  background: inherit;
}

#newsletter-form {
  padding: 1rem 0;
  background: inherit;
}

#newsletter-form > label {
  color: var(--light-color);
  background: inherit;
  font-weight: 100;
}

#fields {
  display: flex;
  margin-top: 0.7rem;
  background: inherit;
}

#form-email {
  padding: 0.4rem 1rem;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: 0;
  color: var(--dark-color);
}

#form-submit {
  padding: 0.4rem 1rem;
  border-radius: 0 5px 5px 0;
  outline: 0;
  border: none;
  color: var(--light-color);
  background: var(--primary-color);
  cursor: pointer;
}

#form-submit:hover {
  background: var(--darker-primary-color);
}

#social {
  background: inherit;
  padding: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#social > h3 {
  color: var(--light-color);
  background: inherit;
}

#social-links {
  margin-top: 1rem;
  background: inherit;
}

#social-links > a {
  background: inherit;
}

#facebook {
  background: inherit;
  margin-right: 1rem;
}

#instagram {
  background: inherit;
  width: 2.2rem;
}

#copyright-text {
  text-align: center;
  background: inherit;
  color: var(--light-color);
  font-weight: 100;
  font-size: 0.9rem;
}

/* servicii */

#servicii {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#servicii > h1 {
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 4rem;
  font-size: 2rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#buton-servicii {
  margin-top: 2rem;
}

/* Contact */

#contact {
  margin-top: 30rem;
}

#contact-content {
  width: 100%;
  display: flex;
}

#contact > h1 {
  text-align: center;
}

#contact-content > form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex: 2;
  padding: 2rem;
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

#contact-info > div {
  padding: 0.5rem;
  margin-bottom: 2rem;
}

#contact-adresa,
#contact-telefon,
#contact-email {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#contact-adresa > h4,
#contact-telefon > h4,
#contact-email > h4 {
  margin-bottom: 0.75rem;
}

.input-field {
  outline: none;
  border: solid 1px var(--dark-color);
  border-radius: 5px;
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem;
  background: var(--light-color);
}

/* Keyframes */
@keyframes showcase-arrow {
  from {
    transform: translateY(-5%);
  }
  to {
    transform: translateY(15%);
  }
}
